{% extends "message.html" %}

{% block message %}
  <p>
    {% trans email='<em class="email">{}</em>'.format(email)|safe %}
      A new account has been created for {{email}}.
    {% endtrans %}
    {% trans %}Your account recovery code is:{% endtrans %}
  </p>
  {% include '_recovery_code.html' %}
  <p>
    {% if config.APP_SIGNUP_REDIRECT_URL %}
      <a class="login-link" href="{{config.APP_SIGNUP_REDIRECT_URL|safe}}">{% trans %}OK{% endtrans %}</a>
    {% else %}
      {% trans %}Now you can log in.{% endtrans %}
    {% endif %}
  </p>
{% endblock message %}
