{% extends "message.html" %}

{% block message %}
  <h1>{% trans %}Suspended Account{% endtrans %}</h1>
  <p class="failure-message-icon"></p>
  <p>
    {% with help_url=config.SUSPENDED_ACCOUNT_HELP_URL %}
      {% trans %}
        Your account has been suspended for suspicious activities.
        This could have been a mistake on our part. If this has been
        case, please <a href="{{help_url}}">follow this link</a>.
      {% endtrans %}
    {% endwith %}
  </p>
  {% include '_ok_link.html' %}
{% endblock message %}
