{% extends "form.html" %}

{% block form_header %}
  {% trans %}Revoke Granted Permissions{% endtrans %}
{% endblock form_header %}

{% block form_body %}
  <form action="" method="POST" id="revoke-granted-access-form">
    <p class="form-comment">
      {% trans %}
        <strong>Warning:</strong> All permissions granted to connected
        devices will be revoked. In order to obtain permissions again,
        all devices will need to be re-authorized.
      {% endtrans %}
    </p>
    <p>
      <input type="submit" value="{% trans %}Revoke granted permissions{% endtrans %}">
    </p>
  </form>
{% endblock form_body %}
